.header {
    color: darkorchid;
    text-align: left;
}

.switch {
    float: left;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}


.switch input {display:none;}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(12px);
}


.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}